@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You can remove your personal data by navigating <a href="/Identity/Account/Manage/PersonalData">here.</a>  Please email blaxbb@gmail.com if you have any questions.</p>
